<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:insert="~{fragments/head :: head_frag}"></head>
<body class="bg-dark min-vh-100 d-flex align-items-center">
<div class="container m-auto">
    <div class="container">
        <div class="row my-5">
            <div class="col-12">
                <h1 class="text-light text-center">List of elements</h1>
            </div>
        </div>
        <div class="row my-5 m-auto text-center">
            <div th:each="i : ${elements}" class="col-4">
                <!--th:href="@{'/elements/'+${i}}"-->
                <a th:href="@{/elements/__${i}__}" class="text-decoration-none">
                    <button th:text="${i}" type="button" class="btn btn-dark card-bs p-5 m-5 ">
                    </button>
                </a>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-12">
                <div class="text-center">
                    <a th:href="@{'/'}" class="text-decoration-none">Return to home page</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div th:insert="~{fragments/footer :: footer_frag}"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>